<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="bg">
        <div class="wrapper">

            <div class="cloud1">
                <img src="https://imgur.com/N8UTBR9.png" alt="">
                
            </div>
            <div class="cloud2">
                <img src="https://imgur.com/kUktrMy.png" alt="">
            </div>
            <div class="cloud3">
                <img src="https://imgur.com/R2596EG.png" alt="">
            </div>

            <div class="title">
                <p>城市空氣品質</p>  
            </div>
            <div class="main">
                <div class="selection">
                    <div class="time">
                    <p>2020/05/30</p>
                    <p>08:00:00</p>
                    </div>
                 
                    <div class="searchBar">
                        <input class="search" type="text" placeholder="輸入城市名稱" v-model="input" 
                        @keyup.enter="searchCities">
                        <button class="searchBtn" type="button" @click="searchCities"><i class="fa-solid fa-magnifying-glass"></i></button>
    
                    </div> 
                    <div class="selectArea">
                        <div class="selector" @click="this.firstToggle=!this.firstToggle">
                            <div>{{checkArea}}</div>
                            <i class="fa-solid fa-caret-down"></i>

                        </div>
                        <div class="dropdown" :class="{hide:firstToggle == false}">
                            <ul>
                                <li v-for="(item) in allarea"  @click="selectArea(item)">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="selectCity">
                        <div class="selector" @click="this.secToggle=!this.secToggle">
                            <div>{{checkCity}}</div>
                            
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                        <div class="dropdown" :class="{hide:secToggle == false}">
                            <ul>
                                <li v-for="item in cities" @click="selectCity(item)">{{item}}</li>
            
                            </ul>
                        </div>
                    </div>
                    <div class="rated">
                        <div class="rated-top">
                            <p >AQI排行 </p>
                            <button type="btn" class="sortbtn" @click="rateSorting">{{aqiSort}}<i :class="rateicon"></i></button>
                        </div>
                     
                        
                        <div style="padding-top: 10px;">
                            <ul>
                                <li style="list-style: none; padding-bottom: 10px;" v-for="item in aqiShowlist">
                                    {{item.County}}-{{item.SiteName}}  <span style="font-size: .75rem;">AQI:{{item.AQI}}</span></li>
                            </ul>
                          
                            <div class="aqiShow" @click=aqiShow>
                                <i :class="aqiIcon"></i>
                                {{aqiShowbtn}}</div>
                        </div>
                    </div>


                    

                </div>
                <div class="cardwrap">
                    <div class="image-area">

                    </div>
                    <div class="btn-group">
                        <!-- <button
                        type="button"
                        class="button-38"
                        role="button"
                        @click="area = '北部'"
                      >
                        北部
                      </button> -->
                      <!-- <button
                      type="button"
                      class="button-38"
                      role="button"
                      @click="area = '中部'"
                    >
                      中部
                    </button> -->
                    <!-- <button
                    type="button"
                    class="button-38"
                    role="button"
                    @click="area = '南部'"
                  >
                    南部
                  </button> -->
                  <!-- <button
                  type="button"
                  class="button-38"
                  role="button"
                  @click="area = '東部'"
                >
                  東部
                </button> -->


                <button
                type="button"
                class="button-38"
                role="button"
                @click="this.staredArea=!this.staredArea"
              >
              關注城鎮
              <i class="fa-solid fa-arrows-rotate"></i>
              </button>
                        
                    </div>

                    
                <div :class="{hide:staredArea == false}">
                <div style="margin:0 10px; padding-top: 10px;" >
                    <h3>關注城鎮</h3></div>
                <div v-if="staredData.length==0" style="margin:0 10px; padding-top: 10px;"><p>目前沒有關注城鎮</p></div>
                <div class="cardArea" style="border-bottom:1px dashed rgb(160, 160, 160) ;">
                   
                    <card
                    v-for="(item,key) in staredData"
                    @set-focus=switchCard
                    :selectinfo="item"
                    :star="stared"
                    :key="key"
                    >

                    </card>
                </div>
                </div>   
                <div class="cardArea">
                    <card
                    v-for="(item,key) in dataShowlist"
                    @set-focus=switchCard
                    :selectinfo="item"
                    :star="stared"
                    :key="key"
                    >
                    </card>
                    

                </div>
                <div v-if="showdata.length>10" class="loadmore" @click="dataShow" ><i :class="dataIcon"></i>{{dataShowbtn}}</div>


            
               
            </div>  

            </div>

    
        </div>
        </div>



    </div>

    <script type="text/x-template" id='card'>
        <div class="card">
            <div class="card_county" :class="statusCheck">
                <div>{{selectinfo.County}} - <span>{{selectinfo.SiteName}}</span></div>
                
            </div>
            <div class="card-top" >
                <div class="area" >
                  
                     <a href="#" class="float-right" @click.prevent=setIcon()>
                         <i :class="markIcon"></i>
            
                     </a>
                </div>
                
            </div>
            <div class="card-body">
                <div class="text">
                    <div>AQI</div>
                    <div class="bold p-larger">{{selectinfo.AQI}}</div>
                    <div>PM2.5</div>
                    <div class="bold p-larger">{{selectinfo['PM2.5']}}</div>
    
                </div>
                <div class="text2">
                    <!-- <div class="status-circle" :class="statusCheck"></div> -->
                    <div class="air">
                         <p>空氣品質</p>
                    <div class="bold">{{selectinfo.Status}}</div>
                    </div>
                   
    
                </div>
            </div>
            <!-- <div class="card-bottom">{{selectinfo.PublishTime}}</div> -->
            </div>

   </script> 
     
   
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./app.js" type="module"></script>
</body>
</html>