* {box-sizing: border-box;}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Microsoft JhengHei;
    background-color: rgba(233, 232, 232, 0.303);
    color: rgb(69, 69, 69);
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}
.title{
    width: 100%;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/cloud.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    
}
.title>p{
    font-size: 1.5rem;
}
.main{
    display: flex;
}
@media (max-width: 992px) { 
    .main{
        padding: 0 30px;
    } 
}
@media (max-width: 768px) { 
    .main{
        flex-direction: column;
        padding: 0 100px;
    } 
}
@media (max-width: 576px) { 
    .main{
        flex-direction: column;
        padding: 0 30px;
    } 
}

.selection{
    width: 20%;
    margin: 104px 0 0 10px;
}
@media (max-width: 768px) { 
    .selection{
        width: 100%;
        margin: 104 0 0;
    } 
}
/* @media (max-width: 576px) { 
    .selection{
        width: 100%;
    }
    
} */


.selectArea{
    position: relative;
    margin-top: 20px;
}
.selectCity{
    margin-top: 20px;
    position: relative;
}
.selector{
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding:0.5rem; 
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}
.dropdown{
    background-color:rgb(240, 240, 240) ;
    width: 100%;
    padding: 10px; 
    position: absolute;
    top: 40px;
    z-index: 100;
    cursor: pointer;
}

.dropdown>ul>li{
    list-style: none;
    margin-top: 5px;
}
.dropdown>ul>li:hover{
    background-color: rgb(35, 117, 218);
    color: white;
}
.hide{
    display:none;
}
@media (max-width: 768px) { 
    .rated{
       display: none;
    } 
}
.rated-top{
    padding:20px 0 10px;
    border-bottom:1px solid #ced4da;
    display: flex;
}
.rated-top>P{
    width: 120px;
}
.aqiShow{
    margin-top: 20px;
    color: rgb(56, 73, 199);
    cursor: pointer;

}
.sortbtn{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
    

}
.cardwrap{
    width: 80%;
    margin: 0 0 0 20px ;
   
}
@media (max-width: 768px) { 
    .cardwrap{
         width: 100%; 
    }   
}
/* @media (max-width: 576px) { 
    .cardwrap{
         width: 100%; 
    } 
} */


.btn-group{
    display: flex;
    justify-content: end;
    margin: 20px 10px 10px;
}
.searchBar{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;

}
.search{
    font-size: 1rem;
    padding: .5rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;


}
.searchBtn{
    padding: .5rem;
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0 ;
    height: 36.5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}

.cardArea{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding:0 0 20px;
    /* background-color: antiquewhite; */
    position: relative;
}.fa-bookmark{
    /* color: rgb(69, 69, 69); */
    color: rgb(56, 73, 199);
}
.loadmore{
    position: absolute;
    right: 70px;
    bottom: 0px;
    cursor: pointer;
    color: rgb(56, 73, 199);
}
.card{
    border: 1px solid rgb(205, 205, 205);
    background-color: white;
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.3);
    margin: 10px;
    width:22%;
    position: relative;
}
@media (max-width: 768px) { 
    .card{
        width:28%;
    }
  }
  @media (max-width: 576px) { 
    .card{
        width:43%;
    }
  }
  @media (max-width: 480px) { 
    .card{
        width:43%;
    }
  }

.card-top{
    padding: 10px;


}
.area{
    font-size: 1.25rem;
}
.area>span,.area>a{
    font-size: 1rem;
}
.float-right{
    float: right;
}
.card-body{
    display: flex;
    margin: 20px 0;
    text-align: center;
}
.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    background-color: #f2f4fb;
    border-radius: 0.5rem;
    margin: 0 0 0 10px;
}
.text2{
    width: 100%;
    padding: 0 10px;
    /* margin: auto; */
}
.status-circle{
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.text>p{
    display: block;
}
.air-status{
    width: 100%;
}
@media (max-width: 992px) { 
    .air>p{
        font-size: .75rem;
    }  
}
/* @media (max-width: 768px) { 
    .air>p{
        font-size: 1rem;
    }  
} */
.bold{
    font-weight: bold;
}
.p-larger{
    font-size: 1.25rem;
}

.aqi1{
    background-color: #bfe4cb;
  }
  .aqi2 {
    background-color: #eeeebb;
  }
   .aqi3 {
    background-color: #f5c18d;
   }
   .aqi4 {
    background-color: #f99b9b;
   }
    .aqi5 {
    background-color: #f298fa;
   }
   .aqi6 {
    background-color: #fc6c95;
   }

   /* button */
   .button-38 {
    margin: 10px;
    background-color: #ffffff;
    border: 0;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
  
  .button-38:hover {
    background-color: rgb(249, 250, 251);
  }
